<app-back-link />

@if (loading()) {
<app-loading />
} @if(error()) {
<div class="text-red-500">
  An error occurred while loading statistics.
  <p>{{ error() }}</p>
</div>
} @if(locationsData().length === 0 && !loading() && !error()) {
<div class="text-gray-500">No location statistics available.</div>
} @if(locationsData().length > 0 && !loading() && !error()) {
<div class="p-6">
  <table class="w-full max-w-[500px] mx-auto mt-20 border-collapse px-5 sm:px-10 lg:px-20">
    <thead>
      <tr class="border-b">
        <th class="text-left p-3">Location</th>
        <th class="text-right p-3">Items</th>
        <th class="text-right p-3">Total Price</th>
      </tr>
    </thead>
    <tbody>
      @for (loc of locationsData(); track loc.id) {
      <tr class="border-b hover:bg-muted/50">
        <td class="p-3">{{ loc.address }}</td>
        <td class="text-right p-3">{{ loc.inventoryCount }}</td>
        <td class="text-right p-3">₾{{ loc.totalPrice }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
